*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "SuisseIntl";
  src: url(/fonts/SuisseIntl-Regular-WebM.woff);
  font-weight: 4000;
}

@font-face {
  font-family: "SuisseIntl";
  src: url(/fonts/SuisseIntl-RegularItalic-WebM.woff);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SuisseIntl";
  src: url(/fonts/SuisseIntl-SemiBold-WebM.woff);
  font-weight: 600;
}

@font-face {
  font-family: "SuisseIntl";
  src: url(/fonts/SuisseIntl-SemiBoldItalic-WebM.woff);
  font-weight: 600;
  font-style: italic;
}

:root {
  --color-primary: #043035;
  --color-contrast-primary: #ff8e26;
  --color-neutral-bright: #fafafa;
  --color-neutral-mid: #e5e5e5;
  --color-neutral-dark: #bbb;
}

body {
  margin: 0;
  padding: 0;
  font-size: 80px;
  color: white;
  font-family: "SuisseIntl", sans-serif;
  font-weight: 400;
}

header {
  background: var(--color-primary);
  height: 100vh;
}

.intro--background {
  position: absolute;
  align-self: center;
  justify-self: center;
  width: 2em;
  height: 2em;
  background: var(--color-contrast-primary);
  border-radius: 200px;
  filter: blur(40px);
  mix-blend-mode: multiply;
  opacity: 0.9;
  animation: random 10s infinite;
  animation-name: purple-animation;
  overflow: hidden;
}

.intro {
  height: 100vh;
  margin-left: 5rem;
  display: grid;
  align-content: center;
}

.intro--text {
  font-style: 6rem;
}

.button {
  border-radius: 2rem;
  border: 1px var(--color-contrast-primary) solid;
  color: var(--color-contrast-primary);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  padding: 1rem;
}

.button__large {
  font-size: 0.75rem;
  width: 13em;
  margin-top: 3em;
}

.content {
  margin: 10rem;
}

.content__bright-bg {
  color: var(--color-primary);
}

.two_columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.preline {
  display: block;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.section_headlines {
  display: block;
  font-size: 5rem;
  line-height: 5rem;
}

.copy {
  font-size: 1.25rem;
}

/*seen her: https://qoals.com/ */
.blurred {
  align-self: center;
  width: 2em;
  height: 2em;
  top: 0px;
  left: 0px;
  background: var(--color-contrast-primary);
  border-radius: 200px;
  filter: blur(40px);
  mix-blend-mode: multiply;
  opacity: 0.9;
  animation: random 10s infinite;
  animation-name: purple-animation;
}

@keyframes purple-animation {
  0% {
    transform: scale(1) translate(0px, 0px);
    background: var(--color-primary);
  }

  33% {
    transform: scale(0.75, 1.5) translate(-30px, -20px);
    background: var(--color-contrast-primary);
    /* transform: translate(50% 10%); */
  }

  66% {
    transform: scale(1.25, 0.8) translate(-30px, -20px);
    background: var(--color-neutral-dark);
    /* transform: translate(50% 10%); */
  }

  100% {
    transform: scale(1) translate(0px, 0px);
    background: var(--color-primary);
  }
}
